*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

height:100vh;

overflow:hidden;

font-family:"Outfit",sans-serif;

background:#041f14;

color:white;

display:flex;

justify-content:center;

align-items:center;

}



#background{

position:absolute;

inset:0;


background:

radial-gradient(circle,#2ecc71,#041f14 70%);


opacity:.35;

}



.box{

position:relative;

z-index:5;

width:90%;

max-width:900px;

text-align:center;

}



#text{

font-size:55px;

font-weight:300;

line-height:1.5;

text-shadow:

0 0 20px #2ecc71;


}



.fade{

animation:show 1s;

}



@keyframes show{


from{

opacity:0;

transform:translateY(50px);

filter:blur(10px);

}


to{

opacity:1;

transform:translateY(0);

filter:blur(0);

}


}





#kisuke{


position:absolute;


right:30px;

bottom:20px;


max-width:260px;


max-height:300px;


opacity:.25;


animation:float 4s infinite;


}



@keyframes float{


50%{

transform:translateY(-20px);

}


}





button{


padding:15px 35px;


margin:20px;


border:none;


border-radius:20px;


font-size:22px;


cursor:pointer;


background:#2ecc71;


color:white;


transition:.3s;


}



button:hover{

transform:scale(1.15);

}



/* kalpler */


.heart{


position:absolute;


color:#2ecc71;


font-size:25px;


animation:fall linear;


}



@keyframes fall{


from{

transform:translateY(-50px) rotate(0deg);

opacity:1;

}


to{

transform:translateY(100vh) rotate(360deg);

opacity:0;

}


}



/* kaçan hayır */


#no{

position:absolute;

}
