/* =========================
HEDİYE EKRANI
========================= */


#giftScreen{


position:fixed;

inset:0;


background:

radial-gradient(
circle,
#123d25,
#000
);


display:flex;

flex-direction:column;

justify-content:center;

align-items:center;


z-index:100;


color:white;


}



.giftText{


font-size:35px;

margin-bottom:50px;


color:#95d5b2;


text-shadow:

0 0 20px #2ecc71;


}




#gift{


width:230px;

height:180px;


position:relative;


cursor:pointer;


animation:bounce 2s infinite;


}




.boxGift{


position:absolute;


bottom:0;


width:230px;

height:140px;


background:#1b4332;


border-radius:10px;


box-shadow:

0 0 40px #2ecc71;


}



.lid{


position:absolute;


top:0;


width:250px;

height:45px;


left:-10px;


background:#2d6a4f;


border-radius:10px;


z-index:2;


transition:1s;


}



.ribbon{


position:absolute;


left:95px;


width:40px;

height:140px;


background:#95d5b2;


}




#gift:hover{

transform:scale(1.08);

}





#gift.open .lid{


transform:

translateY(-100px)

rotate(-15deg);


}




#gift.open{


animation:none;


}




@keyframes bounce{


50%{


transform:translateY(-20px);


}


}





#giftScreen.hide{


animation:hideGift 2s forwards;


}




@keyframes hideGift{


to{


opacity:0;

visibility:hidden;


}


}
